

<h1> List Of Movies </h1>
<br>

         <!-- <button (click)= "clickHandlerGet()"> geeeeet </button> -->


         <table class="table">
             <tr>
                 <th> Movie Name </th>
                 <th> Category </th> 
             </tr>
             <tr *ngFor="let item of arItems">
                 <td>{{item.Movie}}</td>
                  <td>{{item.Category}}</td>
                 </tr>
            </table>

            <button (click)="showForm1()" class="btn btn-primary">Add Movie</button>
   
    <form *ngIf="isFormShow1" (ngSubmit)="submitHandler1(trvform1)" #trvform1="ngForm">
      <div id="div1">
        <div class="form-group">
            <label for="idName">Movie Name</label>
            <input id="idName" type="text" [(ngModel)]="name" name="name" class="form-control" required #trvName1="ngModel">
            <div *ngIf="trvName1.errors && (trvName1.dirty || trvName1.touched)" class="alert alert-danger">
                <div [hidden]="!trvName1.errors.required">
                    Name is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="ideCat">Category</label>
            
    <select id="ideCat" type="text" [(ngModel)]="cate" name="cate" class="form-control" required 
                #trvCat1="ngModel">
      <option>Action</option>
                <option>Comedy</option>
                <option>Romance</option>
                <option>Family</option>
    </select>
            <!-- <input id="ideCat" type="text" [(ngModel)]="cate" name="cate" class="form-control" required 
                #trvCat1="ngModel"> -->
            <div *ngIf="trvCat1.errors && (trvCat1.dirty || trvCat1.touched)" class="alert alert-danger">
                <div [hidden]="!trvCat1.errors.required">
                    Category is required
                </div>
               
            </div>
        </div>
              <div>
            <button class= btn btn-primary type="submit" [disabled]="!trvform1.valid">Save</button>
        </div>
          </div>
    </form>

     

 
