h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
  body {
            background: url(http://sparo.pw/uploads/original//qedJJ2z9oBYKxxO4Pp8qAkfgPst.jpg) no-repeat top center; 
            background-size: cover;
            color:white;
         
            font-family: Papyrus;
         
        } 